/* body {
  margin: 0;
  overflow-y: hidden;
} */
.neon-button {
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.5),
    0 0 15px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.neon-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8),
    0 0 30px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.8);
}
.animated-zoom {
  animation: zoom-in-out 5s infinite;
}

@keyframes zoom-in-out {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.spin-and-disappear {
  animation: spin-and-disappear 1s forwards;
}

@keyframes spin-and-disappear {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}
.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .divider {
  width: 100%;
  height: 5px;
  background-color: transparent;
} */
footer {
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  position: relative; /* 고정 위치 제거 */
}
