name: Deploy React to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

      - name: Build and push Docker image for React app
        run: |
          # Generate a unique tag for the Docker image
          TAG=$(date +%s)
          docker build --no-cache -t "${{ secrets.DOCKERHUB_USERNAME }}/beer_front:${TAG}" .
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/beer_front:${TAG}
          echo "TAG=${TAG}" >> $GITHUB_ENV

      - name: Deploy on EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          TAG: ${{ env.TAG }}
        run: |
          echo "Deploying on EC2"
          ssh -o StrictHostKeyChecking=no ubuntu@${EC2_HOST} << EOF
            docker pull ${DOCKERHUB_USERNAME}/beer_front:${TAG}
            docker stop beer_front || true
            docker rm beer_front || true
            docker run -d --name beer_front -p 80:80 ${DOCKERHUB_USERNAME}/beer_front:${TAG}
          EOF

